@import url(catppuccin_mocha.css);

:root {
	background-color: var(--base);
}

.cell {
	width: 15px;
	height: 15px;
	transition: 0.05s cubic-bezier(0.23, 1, 0.320, 1);
}

.empty-cell {
	background-color: var(--crust);
}
.snake-cell {
	background-color: var(--green);
	border-radius: 15%;
}

.food-cell {
	background-color: var(--red);
	border-radius: 100%;
}